<h1 class="text-center">Pants - The best thing since pants.</h1>
<div id="form">
	<form action='/search' method='get' class='text-center'>

		<input name='query' placeholder='Enter a U.S. City...' type='text' class='form-control' id='input'>
		<input type='submit' value="I am feeling lucky." class='btn btn-sm btn-primary' id="home-button">

	</form>
</div>