<h1>Pants - The best thing since pants.</h1>

<form action='/search' method='get'>

	<input name='query' placeholder='Enter a U.S. City...' type='text'>
	<input type='submit' value="I am feeling lucky.">

</form>