<h1>Results</h1>
Showing result for '<strong><%= @response['name'] %></strong>'. <br/><br/>
The low is going to be <%= @f_low %> Fahrenheit, which means... <br/><br/>
Today you should wear <%= @message %>
<br/>
<%= params %>